body {
    margin: 0;
    .overlay {
        position: fixed;
        overflow: hidden;
        z-index: 2;
        pointer-events: none;
    }
    .texture {
        background: url("../images/carpetTexture1080.png");
        background-repeat: repeat;
        background-size: 500px 500px;
        width: 100vw;
        height: 100vh;
        opacity: 0.04;
        
    }
    .vignette {
        width: 100vmax;
        height: 100vmax;
        background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
        
    }
    #panorama .pnlm-render-container canvas {
        background-color: red;
    }


    .bosh {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 0 solid;
        border-color:  rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        transition-property: background-color, border, width, height, margin;
        transition-duration: 0.4s;
        display: flex;
        align-content: center;
        justify-content: center;
        transition-timing-function: ease-in-out;
        
    }
    @keyframes pulse {
        0% {
            transform: scale(1) rotate(0);
            border-radius: 50%;
            opacity: 1;
        }
        
        100% {
            transform: scale(3) rotate(720deg);
            border-radius: 50%;
            opacity: 0;
        }
    }
    .bosh::after {
        content: "";
        width: 100%;
        height: 100%;
        display: flex;
        transform: scale(2);
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border-radius: 50%;
        box-sizing: border-box;
        animation: pulse 2s ease-out infinite ;
    }
    
    .bosh:hover {
        transition: 0.5s ease-in-out;
        border: 100vmax solid;
        border-color:  rgba(255, 255, 255, 1);
        height: 60vmax;
        width: 60vmax;
        margin-left: -130vmax;
        margin-top: -130vmax;
        background-color: rgba(255, 255, 255, 0);
    }

    .bosh.pnlm-info {
        background-position: 0 -104px;
        background-color: red;
    }

    .bosh.pnlm-scene {
        background-position: 0 -130px
    }


    

    
}